body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* modal styles */
.backdrop {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  border-radius: 20px;
  display: block;
  margin: 10px 10px;
  max-width: 80%;
  max-height: 80%;
  /* padding: 20px 0; */
  /* margin: 60px 42%; */
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.backdrop .model-recipe-info {
  border-radius: 15px;
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 10px 10px;
  /* margin-top: 50px;
  margin-left: 0; */

  /* margin: 60px 0; */
  padding: 20px 5px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
.model-recipeLabel {
  color: aliceblue;

  font-size: x-large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 550;
}
.model-recipe-content {
  margin-top: 2px;
  padding: 5px 5px;
  color: aliceblue;
  font-size: medium;
  word-wrap: break-word;
}
.userdash-nav {
  display: flex;
  gap: 15px;
}
.userdash-nav a {
  font-size: large;
  border-radius: 15px;
  background-color: #04aa6d;
  color: white;
  border: 2px solid #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.admin-dash-allusers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-dash-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  gap: 30px;
}
.admin-dash-label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  color: #000;
  font-weight: 500;
}
.admin-dash-delete-btn {
  font-size: large;
  border-radius: 15px;
  background-color: #04aa6d;
  color: white;
  border: 2px solid #000;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.allusers-container {
  margin-top: -60px;
}
.likes-label {
  font-size: large;
}
.feedback-textarea {
  width: 50%;
  height: 100px;
  border-radius: 20px;
  border: 1px solid green;
  outline: none;
  font-size: medium;
}
.admin-feedback-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid green;
  align-items: center;
}
.admin-feedback-emailpassword-container {
  font-size: medium;
  width: 70rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #333;
}
.admin-feedbacktext-container {
  font-size: large;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.admin-feedback-parent-container {
  margin-top: 20px;
}
