body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* modal styles */
.backdrop {
  position: fixed;
  display: flex;
  gap: 15px;
  align-items: stretch;
  justify-content: center;
  align-content: center;
  /* grid-template-columns: 1fr 1fr; */
  /* grid-column-gap: 20px; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  border-radius: 20px;
  display: block;
  margin: 10px 10px;
  max-width: 100%;
  max-height: 100%;
  /* padding: 20px 0; */
  /* margin: 60px 42%; */
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.backdrop .model-recipe-info {
  border-radius: 15px;
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 10px 10px;
  flex-grow: 1;
  /* margin-top: 50px;
  margin-left: 0; */

  /* margin: 60px 0; */
  padding: 20px 5px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  background-color: #333;
  opacity: 0.8;
}
/* image model */
.model-recipe-content {
  margin-top: 2px;
  padding: 5px 5px;
  margin-left: 10px;
  color: aliceblue;
  font-size: medium;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;

  /* border-radius: 10px; */
}
@media screen and (max-width: 826px) {
  .backdrop {
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

.model-recipeLabel {
  color: aliceblue;
  font-size: 70px;
  color: aqua;
  font-weight: 550;
}
.model-author {
  font-size: 25px;
  color: aqua;
  font-weight: 500;
  border-top: 1px solid wheat;
}
.model-source {
  font-size: 20px;

  font-weight: 500;
}
.model-ingredients {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid aqua;
  margin: 10px 2px;
  padding: 2px 7px;
  border-radius: 10px;
}
.model-dietlabels {
  font-size: 18px;
  font-weight: 400;
}
.model-makingdescription {
  font-size: 18px;
  font-weight: 400;
  overflow-y: auto;
}
.userdash-nav {
  display: flex;
  gap: 15px;
}
.userdash-nav a {
  font-size: large;
  border-radius: 15px;
  background-color: #04aa6d;
  color: white;
  border: 2px solid #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.admin-dash-allusers {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.admin-dash-user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  gap: 30px;
}
.admin-dash-label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: large;
  color: #000;
  font-weight: 500;
}
.admin-dash-delete-btn {
  font-size: large;
  border-radius: 15px;
  background-color: #04aa6d;
  color: white;
  border: 2px solid #000;
  padding: 3px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.allusers-container {
  margin-top: -60px;
}
.likes-label {
  font-size: large;
}
.feedback-textarea {
  width: 50%;
  height: 100px;
  border-radius: 20px;
  border: 1px solid green;
  outline: none;
  font-size: medium;
}
.admin-feedback-container {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid green;
  align-items: center;
}
.admin-feedback-container button {
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  width: 7rem;
}
.admin-feedback-emailpassword-container {
  font-size: medium;
  width: 70rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: #333;
}
.admin-feedbacktext-container {
  font-size: large;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.admin-feedback-parent-container {
  margin-top: 20px;
}
.Reported-recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
